*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.password {
    padding: 10px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    font-size: 30px;
    background-color: white;
    color: black;
}

.options-container {
    display: flex;
    justify-content: space-between;
}

.option {
    display: flex;
    gap: 3px;
    font-size: 17px
}

.generate-container, .password-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.generate-btn {
    margin-top: 30px;
    width: 300px;
    padding: 5px;
    font-size: 30px;
    background-color: crimson;
    color: white;
    border: none;
}
